<script src='/js/skrypt_01.js'></script>
<script src='/js/skrypt_04.js'></script>
<div id="auction_container" class="container">
    {{!-- <ul id="lotsTable">
        <li>a</li>
        <li>a</li>
    </ul> --}}
    <ul id="tableLots" class="list-group">
        {{!-- <li class="list-group-item">
            <div class="left">
                <div class="name">name</div>
                <div class="text">text</div>

            </div>
            <div class="right">
                <div class="time">time</div>
                <div class="prise">prise</div>
                <div class="button">button</div>
            </div>
        </li> --}}
        
    </ul>

    <nav aria-label="...">
        <ul class="pagination pagination-lg">
            <a id="next" class="page-link">Next</a>
        </ul>
    </nav>
</div>