<div id="auction_container" class="container">
    {{!-- <script>document.URL</script>  --}}
    {{!-- window.location.toString() --}}
    <script>
        $('form').attr('action', window.location.toString());
    </script>
    <form method="post">
    {{!-- <form> --}}
        {{!-- <div class="form-group">
            <label for="exampleFormControlTextarea3">Name</label>
            <input type="text" name="name" class="form-control">
        </div> --}}
        {{!-- <div class="form-row">
            <div class="col">
                <input type="password" name="password2" class="form-control" placeholder="Password">
            </div>
            <div class="col">
                <input type="password" name="password2" class="form-control" placeholder="New Password">
            </div>
        </div> --}}
        {{!-- <div class="form-group">
            <label for="exampleFormControlTextarea2">Small description</label>
            <textarea name="small" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
        </div> --}}
        {{!-- <div class="form-group">
            <label for="exampleFormControlTextarea2">Description</label>
            <textarea name="description" class="form-control rounded-0" id="exampleFormControlTextarea1" rows="6"></textarea>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Prise</label>
            <input name = "prise" type="number" placeholder="1.0" step="0.01" min="0">$
        </div> --}}

        <div class="form-group">
            <label for="exampleFormControlTextarea2">Small description</label>
            <textarea name="mailText" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
        </div>
    
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    
</div>